<div class="finish-grid-wrapper">
    <header-control></header-control>
    <main>
        <span class="enjoy">
            Enjoy your meal!
        </span>        
        <div class="image-wrapper">
            <img class="cola" src="/assets/images/cola.png">
            <img class="burger" src="/assets/images/burger.png">
            <img class="fries" src="/assets/images/fries.png">
        </div>
    </main>
    <footer class="footer">        
        <button class="order-button"
                [routerLink]="['/order']">Back</button>
    </footer>    
</div>