.countdown-wrapper {
    margin: auto;
    text-align: center;
}
  
.countdown-number {
    position: relative;
    top: 108px;
    font-family: lobster;
    font-size: 2rem;
    color: #836437;
}

// circle animation
svg {
    width: 180px;
    height: 180px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}
  
svg circle {
    stroke-dasharray: 650px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 12px;
    stroke: #df6013;
    fill: none;
    animation: countdown 5s linear forwards;
}
  
@keyframes countdown {
    from { stroke-dashoffset: 0px; }
    to { stroke-dashoffset: 650px; }
}